.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2E3A59;  /* Azul escuro */
  height: 200px;  /* Aumentando o tamanho para parecer mais imponente */
  color: white;
  width: 100%;  /* A seção ocupa toda a largura da tela */
  position: relative; /* Comportamento normal na página */
}

.contact-title {
  font-size: 2rem;  /* Aumentando o título para dar mais destaque */
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;  /* Dando um espaço maior entre o título e o botão */
}

.contact div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Centraliza tudo dentro da div */
  width: 100%;  /* Garante que o conteúdo ocupe toda a largura */
}

.contact button {
  background-color: #3A8FFF;
  color: #ffffff;
  border: none;
  padding: 15px 40px;  /* Aumentando o tamanho do botão */
  font-size: 1.2rem;  /* Aumentando a fonte do botão */
  font-weight: bold;
  border-radius: 8px;  /* Tornando o botão com bordas mais arredondadas */
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;  /* Animação mais suave e visível */
}

.contact button:hover {
  background-color: #2E72CC;
  transform: scale(1.1);  /* Aumentando o tamanho do botão ao passar o mouse */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);  /* Efeito de sombra para um visual mais chamativo */
}

.contact a {
  text-decoration: none;
}

.contact a:hover {
  text-decoration: none;
}
