/* src/components/header.css */

.header {
    display: flex;
    justify-content: center; /* Centraliza os itens horizontalmente */
    align-items: center; /* Centraliza os itens verticalmente */
    padding: 10px 20px; /* Padding em volta da barra */
    background-color: #ffffff00; /* Cor de fundo */
    border: solid 0.02px white ;
    border-radius: 25px; /* Bordas arredondadas */
    max-width: 400px; /* Largura máxima */
    margin: 20px auto; /* Margem em cima/baixo e centraliza horizontalmente */
    position: sticky;
    top: 0; /* Define a posição fixa no topo */
    z-index: 1000;
}

.header ul {
  
    display: flex; /* Mantém os links em linha */
    gap: 15px; /* Espaçamento entre os itens */
    list-style: none; /* Remove os marcadores */
    padding: 0; /* Remove o padding padrão da lista */
    margin: 0; /* Remove a margem padrão da lista */
}

.header a {
    color: var(--text-color);
    font-weight: 1  00; /* Ajuste o peso conforme necessário */
    font-size: 1rem;
    text-decoration: none;
    transition: color 0.3s;
}
.header a:hover {
    
    color: var(--primary-color); /* Cor ao passar o mouse */
}
