/* src/styles/index.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --background-color: #3c8cfc;
    --header-background: #ffffffe6;
    --primary-color: #3c8cfc;
    --text-color: #ffffff;
    --card-background: #ffffff;
    --card-shadow: rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0; /* Remove margem dos cabeçalhos */
}

ul {
    padding: 0; /* Remove padding das listas */
    list-style: none; /* Remove bullets das listas */
}

a {
    text-decoration: none; /* Remove sublinhado de links */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Removi a classe .centered-content para evitar conflito com o alinhamento do .hero */
