/* src/styles/index.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --background-color: #143C8C;
    --header-background: rgba(255, 255, 255, 0.9); /* Use rgba para leve transparência */
    --primary-color: #3c8cfc;
    --text-color: #ffffff;  
    --card-background: #ffffff;
    --card-shadow: rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0; /* Remove margem dos cabeçalhos */
}

ul {
    padding: 0; /* Remove padding das listas */
    list-style: none; /* Remove bullets das listas */
}

a {
    text-decoration: none; /* Remove sublinhado de links */
    color: var(--text-color); /* Definindo cor padrão para links */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Adicionando estilo para links hover */
a:hover {
    color: var(--primary-color); /* Muda a cor do link ao passar o mouse */
}

/* Estilização adicional para melhor responsividade */
@media (max-width: 768px) {
    .container {
        padding: 10px; /* Reduz o padding em telas menores */
    }

    html, body {
        font-size: 16px; /* Tamanho de fonte base para dispositivos móveis */
    }
}
